<div class="large12 front">
	<div class="logo"><%= link_to image_tag('logo.png'), root_path %></div>
	<div class="large-8 container clearfix">
		<div class="large-4 columns icons tourism">
			<a href="#">
				<%= image_tag('tourism.png') %>
				<label>Tourism</label>
			</a>
		</div>
		<div class="large-4 columns icons healthcare">
			<a href="/dashboard">
				<%= image_tag('healthcare.png') %>
				<label>Healthcare</label>
			</a>
		</div>
		<div class="large-4 columns icons education">
			<a href="#">
				<%= image_tag('education.png') %>
				<label>Education</label>
			</a>
		</div>
		<div class="large-4 columns icons disaster">
			<a href="#">
				<%= image_tag('disaster.png') %>
				<label>Disaster</label>
			</a>
		</div>
		<div class="large-4 columns icons employment">
			<a href="#">
				<%= image_tag('employment.png') %>
				<label>Employment</label>
			</a>
		</div>
	</div>
</div>