
<div class="large12 front">
	<div class="logo"><%= link_to image_tag('logo.png'), root_path %></div>
	<div class="large-4 login container clearfix">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="row">
			<div class="large-12 columns">
				<%= f.email_field :email, :autofocus => true, :placeholder => 'Email Address' %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<%= f.password_field :password, :placeholder => 'Password' %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<%= f.submit "LOGIN" %>
			</div>
		</div>
		<% end %>		
	</div>
</div>