<!DOCTYPE html>
<html>
<head>
  <title>Codebuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dashboard">

<div class="sidebar large-3 columns">
	<div class="logo">
		<%= image_tag('logo.png') %>
	</div>
	<div class="department">
		<%= image_tag('healthcare.png') %>
		<label>Healthcare</label>
	</div>
	<ul>
		<li><%= link_to 'PATIENTS', dashboard_patients_path %></li>
		<li><%= link_to 'ANNOUNCEMENTS', dashboard_announcements_path %></li>
		<li><%= link_to 'NOTIFY USERS', dashboard_notify_path, :remote => true %></li>
		<li><a href="#">GENERATE REPORTS</a></li>
		<li><%= link_to 'EXPORT DATA', dashboard_export_path %></li>
		<li><a href="#">IMPORT DATA</a></li>
	</ul>
</div>
<div class="main large-9 columns">
	<div class="header large-12 clearfix">
		<div class="right">
			Hiya, <%= current_user.first_name %> !
			<a href="#" class="show-logout"><i class="fa fa-angle-down"></i></a>
			<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'logout' %>
		</div>
	</div>
	<%= yield %>
</div>
</body>
</html>
